html,
body,
#root {
    margin: 0;
    height: 100%
}

.prismal-header .prismal-header-nav.prismal-header-nav-flyout {
    backdrop-filter: blur(10px);
    background-color: rgba(var(--color-primary-light_), 0.25);
}

.prismal-accordion {
    margin-bottom: 0;
}