.prismal-card.list-item-attribute {
    width: 100%;
    .btn-edit-attr,
    .btn-del-attr {
        opacity: 0;
        pointer-events: none;
        transition: all 1s ease-in-out;
    }

    &:hover, &:focus, &:focus-within {

        .btn-edit-attr,
        .btn-del-attr {
            pointer-events:initial;
            opacity: 1;
        }
    }
}